rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /{collection}/{documentId} {
      allow read: if collection == 'rates';
      allow read: if collection == 'products';
      allow read: if collection == 'amounts';
      allow read: if collection == 'numberUsedCoupon';
      allow read: if collection == 'commision';
       allow read: if collection == 'coupons';
      allow write: if false;
    }
  
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

